requests # librería para realizar solicitudes HTTP
pandas # manipulación y análisis de datos
matplotlib # librería para crear gráficos
python-dotenv # carga de variables de entorno desde archivos .env
flask # framework web para crear la API de n8n
gunicorn # servidor WSGI para ejecutar la aplicación Flask en producción